name: Django CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "Django>=5,<6" django-environ Pillow markdown2 django-htmx

      - name: Run migrations
        run: |
          python manage.py migrate --noinput

      - name: Check for missing migrations
        run: |
          python manage.py makemigrations --check --dry-run

      - name: Run Django check
        run: |
          python manage.py check --deploy

